<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kermit11.tweettimer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        >
        <!--  android:theme="@style/AppTheme"  -->
        <activity
            android:name="kermit11.tweettimer.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/ActivityTheme.Cust"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="WelcomeActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.Cust" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="SettingsActivity"
            android:label="Settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="HelpActivity"
            android:label="Help"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.Cust" >
        </activity>
        <activity
            android:name="UserSelectionActivity"
            android:label="Select a user to add"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.Cust" >
        </activity>
        
	</application>

</manifest>